<nz-table #basicTable [nzData]="listProducts">
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of basicTable.data;let pos=index;">
      <td>{{ product.name }}</td>
      <td>{{product.detail}}</td>
      <td>{{product.price}}</td>
      <td>
        <button nz-button nzType="primary" (click)="editProduct(product,pos)" [disabled]="product.price==0"
          nzShape="circle"><i nz-icon nzType="edit" nzTheme="outline"></i></button>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="isVisible=false" (nzOnOk)="changeProduct()">
  <form nz-form [formGroup]="productForm"> 
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="name">Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <input nz-input formControlName="name">
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>