
      .logo {
        width: 156px;
        height: 55px;
        margin: 16px 28px 16px 0;
            margin-top: 16px;
        float: left;
        margin-top: 4px;
        margin-left: -25px;
      }

      .header-menu {
        line-height: 64px;
      }
      .header-menu .settings{
        position: absolute;
        right: 0;
        padding: 0 15px;
        top: 0;
      }

      .sider-menu {
        height: 100%;
        border-right: 0;
      }

      .inner-layout {
        padding: 0 24px 24px;
        padding: 10px;
      }

      nz-breadcrumb {
        margin: 16px 0;
      }

      nz-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
      }
      .wrapper{
        height: 100%;
      }