<nz-layout class="wrapper">
  <nz-header>
    <img class="logo" src="assets/logo.png" width="120" height="30">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>HOME</li>
      <div class="settings">

        <button nz-button nz-dropdown [nzDropdownMenu]="setting">
          <i nz-icon nzType="setting" nzTheme="outline"></i>
          Settings
          <i nz-icon nzType="down"></i>
        </button>
        <nz-dropdown-menu #setting="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="logout()">Logout</li>
          </ul>
        </nz-dropdown-menu>
      </div>

    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
          <ul>
            <li nz-menu-item [routerLink]="['/app/products']">Products</li>
            <li nz-menu-item [routerLink]="['/app/report']">Reports </li>
          </ul>
        </li>

      </ul>
    </nz-sider>
    <nz-layout class="inner-layout">

      <nz-content style="height:unset;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>