
      .logo {
        width: 156px;
        height: 55px;
        margin: 16px 28px 16px 0;
            margin-top: 16px;
        float: left;
        margin-top: 4px;
      }

      .header-menu {
        line-height: 64px;
      }

      .outer-content {
        padding: 0 50px;
      }

      nz-breadcrumb {
        margin: 16px 0;
      }

      .inner-layout {
        padding: 24px 0;
        height: 100%;
      }

      .sider-menu {
        height: 100%;
      }

      .inner-content {
        height: 100%;
        padding: 0;
        margin: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      nz-footer {
        text-align: center;
      }
      .wrapper{
        height: 100%;
      }

      /* css for login form  */

      .login-form {
        max-width: 100%;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }
      .card-login{
        width: 500px;
      }
      
    