<nz-layout class="wrapper">
  <nz-header>
    <img class="logo" src="assets/logo.png" width="120" height="30">
    <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
      <li nz-menu-item nzSelected>LOGIN</li>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-content class="inner-content">
        <nz-card class="card-login" [nzTitle]="icon">
          <ng-template #icon>
            <h2><i nz-icon nzType="user" nzTheme="outline"></i> Login</h2>
          </ng-template>
          <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="login()">
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your username!">
                <nz-input-group nzPrefixIcon="user">
                  <input type="text" nz-input formControlName="user" placeholder="User name" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-group nzPrefixIcon="lock">
                  <input type="password" nz-input formControlName="password" placeholder="Password" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
            <!--<div nz-row class="login-form-margin">
          <div nz-col [nzSpan]="12">
            <label nz-checkbox formControlName="remember">
              <span>Remember me</span>
            </label>
          </div>
        </div>-->
            <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
          </form>
        </nz-card>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>